
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Backend/_LayoutBackend.cshtml";
}

@model IEnumerable<Artshop.Data.Data.EntityFramework.Artist>



    <div class="table">
        <h1 class="h1_home"> Lista de Artistas</h1>
        <br />
        <h2 class="">Hay un total de @Enumerable.Count(Model) Artistas</h2>
        <br />
        <p>@ViewBag.Message<br /></p>

        <div>
            <a href="/Artist/Create" class="btn-input">Nuevo Artista</a>
        </div>
        @Html.Partial("_CreatePartial", new Artshop.Data.Data.EntityFramework.Artist());
        <br />
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.LifeSpan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalProducts)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LifeSpan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalProducts)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                            new { onclick = "return confirm('Realmente desea eliminar el Artista " + item.FullName + " ?')" })

                        </td>
                    </tr>
                }

                <!-- Html.ActionLink("Eliminar", "Delete", new { id = item.Id })-->

            </table>


        </div>
        <br />
        <div>
            <a href="/Artist/Create" class="btn-input">Nuevo Artista</a>
        </div>
        <br />
    </div>

