
@{
    ViewBag.Title = "AmbProducto";
    Layout = "~/Views/Backend/_LayoutBackend.cshtml";
}


@model Artshop.Data.Data.EntityFramework.Product

<head>
    <link href="~/Content/Formulario.css" rel="stylesheet" />
</head>

<body>
    <h1 class="h1_home">AMB Producto</h1>
    <hr />
    <br />
    <div class="container">
        @using (Html.BeginForm("CreateObra", "Backend", FormMethod.Post))
        {
            <p>
                <label for="txtFirstName">Nombre:</label>
                @Html.TextBoxFor(x => x.)

            </p>
            <br />
            <p>
                <label for="txtLastName">Apellido:</label>
                @Html.TextBoxFor(x => x.LastName)

            </p>
            <br />
            <p>
                <label for="txtLifeSpan">Edad:</label>
                @Html.TextBoxFor(x => x.LifeSpan)
            </p>
            <br />
            <p>
                <label for="txtCountry">País:</label>
                @Html.TextBoxFor(x => x.Country)
            </p>
            <br />
            <p>
                <label for="txtDescription">Descripción:</label> <br />
                @Html.TextAreaFor(x => x.Description)
            </p>
            <br />
            <div class="div_button">
                <input class="button" type="submit" value="Guardar" />
            </div>
        }
    </div>
</body>

