@model IEnumerable<Artshop.Data.Data.EntityFramework.CartItem>
@{ViewBag.Title = "Checkout";
}
@if (@Model!=null && @Model.Count()>0 )
{
    <h1 class="h1_home"><b>Checkout</b></h1>
    <hr />
    <br />
    <h2>Usted posee @Model.Count() artículos pendientes de compra</h2>
    <br />
    <hr />
    <div style="width:100%">
        
       
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.Label("Titulo de la Obra")
                    </th>

                    <th>
                        @Html.Label("Nombre del Artista")
                    </th>
                    <th>
                        @Html.Label("Precio Unitario")
                    </th>
                    <th>
                        @Html.Label("Imagen")
                    </th>
                    <th>
                        @Html.Label("Cantidad")
                    </th>
                    <th>
                        @Html.Label("Accion")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Artist.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            <img class="imagecarrito " src="~/Content/Images/Products/@item.Product.Image" alt="Imagen del producto. @item.Product.Image" title="@item.Product.Title" />
                        </td>
                        <td>
                            @Html.EditorFor(modelItem => item.Quantity)
                        </td>
                        
                    </tr>
                }
            </table>
            <br />
            <hr />
            <br />

        </div>
    </div>}

@if (@Model.Count()==0 )
{<h1 class="h1_home"><b>Aun no seleccionó ninguna de nuestras Obras</b></h1>}


