@model IEnumerable<Artshop.Website.Models.CheckoutItem>
@{ViewBag.Title = "Checkout";
}

<h1 class="h1_home"><b>Checkout</b></h1>
<hr />
<br/>
<h2>Usted posee @Model.Count() artículos pendientes de compra</h2>
<br/>
<hr />
<div style="width:100%">

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ArtistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        <img class="imagecarrito " src="~/Content/Images/Products/@item.Image" alt="Imagen del producto. @item.Image" title="@item.ProductName" />
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        </table>
        <br/>
        <hr />


    </div>
</div>